<div class="main-div">

  <mat-card class="center">

    <mat-card-title style="padding-left: 25px">
      Radio button Component
    </mat-card-title>
    <mat-card-subtitle style="padding-left: 25px">
      In Angular Material
    </mat-card-subtitle>
    <mat-card-content style="padding:25px">

      <mat-radio-group class="full-width">
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
        <mat-radio-button value="3">Option 3</mat-radio-button>
      </mat-radio-group>

    </mat-card-content>
  </mat-card>
</div>