<div class="main-div">

  <mat-card class="center">

    <mat-card-title style="padding-left: 25px">
      Badge Component
    </mat-card-title>
    <mat-card-subtitle style="padding-left: 25px">
      In Angular Material
    </mat-card-subtitle>
    <mat-card-content style="padding:25px">

      <!-- Badges are small status descriptors for UI elements. 
          A badge consists of a small circle, 
          typically containing a number or other short set of characters, 
          that appears in proximity to another object. -->
      <!-- Example -->
    <p>
        <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
      </p> 

      <p>
        Button with a badge on the left
        <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
          Action
        </button>
      </p> 

       <p>
        Icon with a badge
        <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
      </p> 


      <!-- CODIGO AQUI -->
      <!-- ........... -->
      <!-- CODIGO AQUI -->
    </mat-card-content>
  </mat-card>
</div>