<div class="main-div">

  <mat-card class="center">

    <mat-card-title style="padding-left: 25px">
      Datepicker Component
    </mat-card-title>
    <mat-card-subtitle style="padding-left: 25px">
      In Angular Material
    </mat-card-subtitle>
    <mat-card-content style="padding:25px">

      <mat-form-field class="full-width">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
    </mat-card-content>
  </mat-card>
</div>