<div class="main-div">

        <mat-card class="center">
      
          <mat-card-title style="padding-left: 25px">
            Agregar Nuevo Paciente
          </mat-card-title>
          <mat-card-subtitle style="padding-left: 25px">
            Datos del Paciente
          </mat-card-subtitle>
          <mat-card-content style="padding:25px">
      
      
            <form class="example-form">
              <mat-form-field class="full-width">
                <input matInput placeholder="Ingre el Nombre " value="Sushi">
              </mat-form-field>
      
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Ingrese Apellidos"></textarea>
              </mat-form-field>

              <mat-form-field class="full-width">
                    <textarea matInput placeholder="Ingrese Edad"></textarea>
                  </mat-form-field>
             <mat-form-field class="full-width">
              <textarea matInput placeholder="Ingrese Fecha de Nacimiento"></textarea>
            </mat-form-field>
            <mat-form-field class="full-width">
            <textarea matInput placeholder="Ingrese Sexo"></textarea>
            </mat-form-field>
            <mat-form-field class="full-width">
         <textarea matInput placeholder="Ingrese Responsable "></textarea>
         </mat-form-field>
         <mat-form-field class="full-width">
                <textarea matInput placeholder="Ingrese Tipo de Atencion"></textarea>
              </mat-form-field>
              <mat-form-field class="full-width">
                    <textarea matInput placeholder="Ingrese Al Doctor"></textarea>
                  </mat-form-field>


                  <button class="full-width" mat-raised-button>GUARDAR REGISTRO</button>
            </form>
      
          </mat-card-content>
        </mat-card>
      </div>