.example-container {
  position:top;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/assets/imagen/0011.jpg');
}
 .fondo{
  position:absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/assets/imagen/0011.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  
 }
 .fondomenu{
  background-image: url('/assets/imagen/022.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
 }
 
 #outer {
  width: 15em;
  height: 15em;
  position: absolute;
  right: 1em;
  background-image: url('/assets/imagen/escudo.png');
}
#outer1 {
  width: 15em;
  height: 15em;
  position: absolute;
   
  background-image: url('/assets/imagen/escudo.png');
}