<mat-sidenav-container class="fondo">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" class="fondomenu"   >

    <mat-accordion>
      <!--Lista de los pacientes -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            LISTA DE PACIENTES
          </mat-panel-title>
          <mat-panel-description>
            Datos del paciente
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <mat-list role="list">
            <mat-list-item role="listitem" [routerLink]="['/table-material']">
              listar paciente
            </mat-list-item>
            <mat-list-item role="listitem" [routerLink]="['/datepicker-material']">
              agreagar pacientes
            </mat-list-item>
            <mat-list-item role="listitem" [routerLink]="['/http-request']">
              buscar paciente
            </mat-list-item>
             
            <!-- <mat-list-item role="listitem" [routerLink]="['/slider-material']">
              Slider
            </mat-list-item>
            <mat-list-item role="listitem" [routerLink]="['/datepicker-material']">
              Slide Toogle
            </mat-list-item> -->
          </mat-list>         
      </mat-expansion-panel>

<!--Lista del personal de la clinica -->
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              LISTA DE TIPO DE ATENCIÓN
            </mat-panel-title>
            <mat-panel-description>
              Datos de Atención
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <mat-list role="list">
              <mat-list-item role="listitem" [routerLink]="['/table-material']">
                Lista de Especialidades
              </mat-list-item>
              <mat-list-item role="listitem" [routerLink]="['/datepicker-material']">
                agreagar Especialidad
              </mat-list-item>
            </mat-list>         
        </mat-expansion-panel>

<!--Lista del personal de la clinica -->
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                 PERSONAL 
              </mat-panel-title>
              <mat-panel-description>
                Datos del Personal
              </mat-panel-description>
            </mat-expansion-panel-header>
            
            <mat-list role="list">
                <mat-list-item role="listitem" [routerLink]="['/table-material']">
                  Listar Personal
                </mat-list-item>
                <mat-list-item role="listitem" [routerLink]="['/datepicker-material']">
                  agreagar Personal
                </mat-list-item>
                <mat-list-item role="listitem" [routerLink]="['/datepicker-material']">
                  Buscar al Personal
                </mat-list-item>
              </mat-list>       
      </mat-expansion-panel>
      
      <!--modulo de inventario de medicamentos -->
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                 MEDICAMENTOS
              </mat-panel-title>
              <mat-panel-description>
                detalle de medicamentos
              </mat-panel-description>
            </mat-expansion-panel-header>
            
            <mat-list role="list">
                <mat-list-item role="listitem" [routerLink]="['/table-material']">
                  Listar Medicamentos
                </mat-list-item>
                <mat-list-item role="listitem" [routerLink]="['/datepicker-material']">
                  registra Medicamento
                </mat-list-item>
                <mat-list-item role="listitem" [routerLink]="['/datepicker-material']">
                  Buscar Medicamento
                </mat-list-item>
              </mat-list>       
      </mat-expansion-panel>
      
      
        <!--regresar a inicio -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   INICIO
                </mat-panel-title>
              </mat-expansion-panel-header>
              
              <mat-list role="list">
                  <mat-list-item role="listitem" [routerLink]="['/table-material']">
                    Volver
                  </mat-list-item>
                </mat-list>       
        </mat-expansion-panel>
      
       <!--Cerrar cecion -->
       <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                 CERRAR CECIÓN
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <mat-list role="list">
                <mat-list-item role="listitem" [routerLink]="['/table-material']">
                  Cerrar
                </mat-list-item>
              </mat-list>       
      </mat-expansion-panel>

     
    </mat-accordion>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem"></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem"></mat-list-item>



    <div  id="outer1" > 
      </div>
  </mat-sidenav>-->

  <mat-sidenav-content>
    <mat-toolbar   color="primary">
      
      <mat-icon (click)="sidenav.toggle()">dashboard</mat-icon> 
      <span>
       <h1>   CLÍNICA LOS RIOS DANGER</h1>
       
      </span>
    </mat-toolbar>
    <div  id="outer" > 
    </div>

    <router-outlet></router-outlet>



    

  </mat-sidenav-content>
</mat-sidenav-container>