<mat-sidenav-container class="fondo">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" class="fondomenu"  >

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            LISTA DE PACIENTES
          </mat-panel-title>
          <mat-panel-description>
            Datos del paciente
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <mat-list role="list">
            <mat-list-item role="listitem" [routerLink]="['/table-material']">
              listar paciente
            </mat-list-item>
            <mat-list-item role="listitem" [routerLink]="['/datepicker-material']">
              agreagar pacientes
            </mat-list-item>
            <mat-list-item role="listitem" [routerLink]="['/datepicker-material']">
              buscar paciente
            </mat-list-item>
             
            <!-- <mat-list-item role="listitem" [routerLink]="['/slider-material']">
              Slider
            </mat-list-item>
            <mat-list-item role="listitem" [routerLink]="['/datepicker-material']">
              Slide Toogle
            </mat-list-item> -->
          </mat-list>         
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              LISTA DE TIPO DE ATENCIÓN
            </mat-panel-title>
            <mat-panel-description>
              Datos de Atención
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <mat-list role="list">
              <mat-list-item role="listitem" [routerLink]="['/table-material']">
                Lista de Especialidades
              </mat-list-item>
              <mat-list-item role="listitem" [routerLink]="['/datepicker-material']">
                agreagar Especialidad
              </mat-list-item>
              
               
              <!-- <mat-list-item role="listitem" [routerLink]="['/slider-material']">
                Slider
              </mat-list-item>
              <mat-list-item role="listitem" [routerLink]="['/datepicker-material']">
                Slide Toogle
              </mat-list-item> -->
            </mat-list>         
        </mat-expansion-panel>





      <mat-expansion-panel>

        
      </mat-expansion-panel>
      
      
      
      

      

 
    </mat-accordion>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem"></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem"></mat-list-item>
  </mat-sidenav>-->

  <mat-sidenav-content>
    <mat-toolbar   color="primary">
      
      <mat-icon (click)="sidenav.toggle()">dashboard</mat-icon> 
      <span>
         CLINICA LOS RIOS DANGER
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>



    

  </mat-sidenav-content>
</mat-sidenav-container>