<div class="main-div">

    <mat-card class="center">

        <mat-card-title style="padding-left: 25px">
            Button Component
        </mat-card-title>
        <mat-card-subtitle style="padding-left: 25px">
            In Angular Material
        </mat-card-subtitle>
        <mat-card-content style="padding:25px">

            <p>Normal Button</p>
            <!-- mat-button	Rectangular text button w/ no elevation -->
            <button class="full-width" mat-button>Click me!</button>
            <br>

            <mat-divider></mat-divider>
            <br>
            <p>Raised Button</p>
            <!-- mat-raised-button	Rectangular contained button w/ elevation -->
            <button class="full-width" mat-raised-button>Click me!</button>
            <br>
            <mat-divider></mat-divider>
            <br>
            <p>Flat Button</p>
            <button mat-raised-button color="primary">Primary</button>
            <!-- mat-flat-button	Rectangular contained button w/ no elevation -->
            <br>
            <mat-divider></mat-divider>
            <br>
            <p>Stroked Button</p>
            <button  mat-stroked-button color="primary">Primary</button>
            <!-- mat-stroked-button	Rectangular outlined button w/ no elevation -->
            <br>
            <mat-divider></mat-divider>
            <br>
            <p>Icon Button</p>
            <button mat-icon-button>
                <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
              </button>
            <!-- mat-icon-button    Circular button with a transparent background, meant to contain an icon -->
            <br>
            <mat-divider></mat-divider>
            <br>
            <p>Fab Button</p>
            <button mat-fab color="accent">Accent</button>
            <!-- mat-fab	Circular button w/ elevation, defaults to theme's accent color -->
            <br>
            <mat-divider></mat-divider>
            <br>
            <p>Mini Fab Button</p>
            <button mat-mini-fab>
                <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
              </button> 
            <!-- mat-mini-fab -->

        </mat-card-content>
    </mat-card>
</div>

