<div class="main-div">

  <mat-card class="center">

    <mat-card-title style="padding-left: 25px">
      Chips Component
    </mat-card-title>
    <mat-card-subtitle style="padding-left: 25px">
      In Angular Material
    </mat-card-subtitle>
    <mat-card-content style="padding:25px">

      <!-- <mat-chip-list> displays a list of values as individual,
           keyboard accessible, chips. -->
           
      <!-- Example -->
      <!-- <mat-chip-list>
        <mat-chip>One fish</mat-chip>
        <mat-chip>Two fish</mat-chip>
      </mat-chip-list> -->


      <!-- CODIGO AQUI -->
      <!-- ........... -->
      <mat-chip-list>
        <mat-chip>One fish</mat-chip>
        <mat-chip>Two fish</mat-chip>
        <mat-chip color="primary" selected>Primary fish</mat-chip>
        <mat-chip color="accent" selected>Accent fish</mat-chip>
      </mat-chip-list>
      <!-- CODIGO AQUI -->
    </mat-card-content>
  </mat-card>
</div>