<div class="main-div">

  <mat-card class="center">

    <mat-card-title style="padding-left: 25px">
      Snackbar Component
    </mat-card-title>
    <mat-card-subtitle style="padding-left: 25px">
      In Angular Material
    </mat-card-subtitle>
    <mat-card-content style="padding:25px">

      <h2>
        Mini reto:
        <br>
        Implementar el código para realizar un mat-snackbar component:
      </h2>

      <ol>
        <li> En el componente implementar un botton para llamar al snack-bar <small>hint: utilizar el event binding
            (click) = "funcion-que-abre-snackbar-view"</small></li>
        <li><small> hint: https://material.angular.io/components/snack-bar/overview</small></li>
      </ol>
    </mat-card-content>
  </mat-card>
</div>