<div class="main-div">

  <mat-card class="center">

    <mat-card-title style="padding-left: 25px">
      Dialog Component
    </mat-card-title>
    <mat-card-subtitle style="padding-left: 25px">
      In Angular Material
    </mat-card-subtitle>
    <mat-card-content style="padding:25px">

      <h2>
        Mini reto:
        <br>
        Implementar el código para realizar un mat-dialog component:
      </h2>

      <ol>
        <li> Generar un subcomponente. <small>hint: ng generate component dialog-view</small> </li>
        <li> En el componente implementar un botton para llamar al dialog-vew <small>hint: utilizar el event binding
            (click) = "funcion-que-abre-dialog-view"</small></li>
        <li> Agregar dichos componentes respectivamente a app.module.ts</li>
        <li><small> hint: https://material.angular.io/components/dialog/overview</small></li>
      </ol>
    </mat-card-content>
  </mat-card>
</div>