<div class="main-div">

  <mat-card class="center">
      
  <mat-card-title style="padding-left: 25px">
    Autocomplete Component
  </mat-card-title>
  <mat-card-subtitle style="padding-left: 25px">
    In Angular Material
  </mat-card-subtitle>
  <mat-card-content style="padding:25px">
    
    <h2>
      Select 
    </h2>
    
    <form class="example-form">
      <mat-form-field class="full-width">
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <br>
    <mat-divider></mat-divider>
    <br>
    <br>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------- -->
    <h2>
      Autocomplete
    </h2>

    <form class="example-form">
        <mat-form-field class="full-width">
          <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
  </mat-card-content>
</mat-card>
</div>